h1 {
    color: rgb(96, 196, 163);
    text-align: center;
    font-size: 100px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.7;
}

img {
    height: auto;
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 50px;
}

ul {
    display: table;
    margin: 0 auto;
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}